<a href="https://colab.research.google.com/github/nivyathiruvoth/Book-Recommendation-System/blob/main/Book_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Book Recommendation System**

###A recommendation engine is a class of machine learning which offers relevant suggestions to the customer. It helps an organization to create loyal customers and build trust by them desired products and services for which they came on your site. The recommendation system today are so powerful that they can handle the new customer too who has visited the site for the first time. They recommend the products which are currently trending or highly rated and they can also recommend the products which bring maximum profit to the company.

###A book recommendation system is a type of recommendation system where we have to recommend similar books to the reader based on his interest. The books recommendation system is used by online websites which provide ebooks like google play books, open library, good Readâ€™s, etc.

In [1]:
#mounting drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# loading the required libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import re

In [3]:
#Loading the dataset
drive_path = '/content/drive/MyDrive/Colab Notebooks/project/Book Recommendation System/'

books_df=pd.read_csv(drive_path +"Books.csv")
ratings_df=pd.read_csv(drive_path +"Ratings.csv")
users_df=pd.read_csv(drive_path +"Users.csv")

#**Pre-processing of datasets**

####We have three different datasets which contains details of books, users and book ratings. Let's deep dive into each of those datasets.

##**Books**

In [4]:
#first look
books_df.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [5]:
#Checking basic information
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

####The last three columns contains no information that helps in the analysis process, hence we consider only the first 5 columns for further process.

In [6]:
#Taking the required subset
books_df=books_df[["ISBN","Book-Title","Book-Author",	"Year-Of-Publication", "Publisher"]]

In [7]:
# Checking for null values
books_df.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
dtype: int64

In [8]:
#obtaining the rows that contain null values
books_df[books_df.isnull().any(axis=1)]

              ISBN  ...                       Publisher
128890  193169656X  ...                             NaN
129037  1931696993  ...                             NaN
187689  9627982032  ...  Edinburgh Financial Publishing

[3 rows x 5 columns]

####We can see that the column Book-Author contains one null value and the column Publisher contains two null values. Therefore we replace them by 'Unknown'.

In [9]:
#Replacing null values by 'Unknown'
books_df.fillna("Unknown",inplace=True)

In [10]:
#Checking the datatype 
books_df.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
dtype: object

In [11]:
#Obatining the unique years 
books_df["Year-Of-Publication"].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

####While checking the unique years we can see that two years are mistakenly replaced by some text. Let's try to fix this issue.

In [12]:
pd.set_option('display.max_colwidth', -1)

In [13]:
books_df[books_df["Year-Of-Publication"]=='Gallimard']

              ISBN  ...                                                     Publisher
220731  2070426769  ...  http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg

[1 rows x 5 columns]

In [14]:
books_df[books_df["Year-Of-Publication"]=='DK Publishing Inc']

              ISBN  ...                                                     Publisher
209538  078946697X  ...  http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg
221678  0789466953  ...  http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg

[2 rows x 5 columns]

####We can see that for these three rows, the values have been interchanged mistakenly. So we will correct this mistake.

In [15]:
#Interchanging the values
books_df.at[209538 ,'Book-Title'] = 'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)'
books_df.at[209538 ,'Book-Author'] = 'Michael Teitelbaum'
books_df.at[209538 ,'Publisher'] = 'DK Publishing Inc'
books_df.at[209538 ,'Year-Of-Publication'] = '2000'

books_df.at[221678 ,'Book-Title'] = 'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)'
books_df.at[221678 ,'Book-Author'] = 'James Buckley'
books_df.at[221678 ,'Publisher'] = 'DK Publishing Inc'
books_df.at[221678 ,'Year-Of-Publication'] = '2000'

books_df.at[220731 ,'Book-Title'] = 'Peuple du ciel - Suivi de Les bergers '
books_df.at[220731 ,'Book-Author'] = 'Jean-Marie Gustave Le ClÃƒ?Ã‚Â©zio'
books_df.at[220731 ,'Publisher'] = 'Gallimard'
books_df.at[220731 ,'Year-Of-Publication'] = '2003'

In [16]:
#Converting year into int 
books_df['Year-Of-Publication'] = books_df['Year-Of-Publication'].astype(int)
#Checking info after converting Year-Of-Publication into integer
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271360 non-null  object
 3   Year-Of-Publication  271360 non-null  int64
 4   Publisher            271360 non-null  object
dtypes: int64(1), object(4)
memory usage: 10.4+ MB

In [17]:
#Getting the years in ascending order
print(sorted(list(books_df['Year-Of-Publication'].unique())))

[0, 1376, 1378, 1806, 1897, 1900, 1901, 1902, 1904, 1906, 1908, 1909, 1910, 1911, 1914, 1917, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2010, 2011, 2012, 2020, 2021, 2024, 2026, 2030, 2037, 2038, 2050]

####In the column Year of Publication there are invalid values such as 0 and greater than the present year. We will replace such values by mode.

In [18]:
#Imputing invalid values by mode
print("The mode of year of publication is:",books_df['Year-Of-Publication'].mode()[0])
books_df[books_df['Year-Of-Publication'] > 2021] = books_df['Year-Of-Publication'].mode()[0]
books_df[books_df['Year-Of-Publication'] == 0] = books_df['Year-Of-Publication'].mode()[0]
#Checking for unique years after replacement
print(sorted(list(books_df['Year-Of-Publication'].unique())))

The mode of year of publication is: 2002
[1376, 1378, 1806, 1897, 1900, 1901, 1902, 1904, 1906, 1908, 1909, 1910, 1911, 1914, 1917, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2010, 2011, 2012, 2020, 2021]

In [19]:
# Uppercasing all alphabets in ISBN
books_df['ISBN'] = books_df['ISBN'].str.upper()

#Checking for duplicates
print("Number of duplicates is:",len(books_df[books_df.duplicated()]))
# Drop duplicate rows
books_df.drop_duplicates(keep='last', inplace=True) 
books_df.reset_index(drop = True, inplace = True)

Number of duplicates is: 4936

In [20]:
#Checking for the shape
print("Shape of books_df is:",books_df.shape)

Shape of books_df is: (266424, 5)

##**Users**

In [21]:
#First look
users_df.head()

   User-ID                            Location   Age
0  1        nyc, new york, usa                 NaN
1  2        stockton, california, usa           18.0
2  3        moscow, yukon territory, russia    NaN
3  4        porto, v.n.gaia, portugal           17.0
4  5        farnborough, hants, united kingdom NaN

In [22]:
#Checking bacis info
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [23]:
#Checking for null values
users_df.isnull().sum()

User-ID     0
Location    0
Age         110762
dtype: int64

In [24]:
# checking for unique values
print(sorted(list(users_df['Age'].unique())))

[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 113.0, 114.0, 115.0, 116.0, 118.0, 119.0, 123.0, 124.0, 127.0, 128.0, 132.0, 133.0, 136.0, 137.0, 138.0, 140.0, 141.0, 143.0, 146.0, 147.0, 148.0, 151.0, 152.0, 156.0, 157.0, 159.0, 162.0, 168.0, 172.0, 175.0, 183.0, 186.0, 189.0, 199.0, 200.0, 201.0, 204.0, 207.0, 208.0, 209.0, 210.0, 212.0, 219.0, 220.0, 223.0, 226.0, 228.0, 229.0, 230.0, 231.0, 237.0, 239.0, 244.0]

####There are so many invalid entries in this column. So we will replace those with median. Here we will fix the lower age limit as 10 and upper age limit as 90.

In [25]:
# Imputing invalid entries with nan 
users_df.loc[(users_df.Age > 90) | (users_df.Age < 10), 'Age'] = np.nan
# Filling nan with median 
users_df.Age = users_df.Age.fillna(users_df.Age.median())
#Converting Datatype to integer
users_df.Age = users_df.Age.astype(np.int32) 
#Checking unique age after replacement
print(sorted(users_df.Age.unique()))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [26]:
#Examining location
users_df["Location"]

0         nyc, new york, usa
1         stockton, california, usa
2         moscow, yukon territory, russia
3         porto, v.n.gaia, portugal
4         farnborough, hants, united kingdom
                         ...
278853    portland, oregon, usa
278854    tacoma, washington, united kingdom
278855    brampton, ontario, canada
278856    knoxville, tennessee, usa
278857    dublin, n/a, ireland
Name: Location, Length: 278858, dtype: object

####Since the location is given in city,state,country format, we will now extract these from location.

In [27]:
#Creating a list for each location 
sep_list = users_df.Location.str.split(', ')
#Creating empty lists to store city, state and country  
city = []
state = []
country = []

for i in range(0,len(sep_list)):
     #removing invalid entries 
    if sep_list[i][0] == ' ' or sep_list[i][0] == '' or sep_list[i][0]=='n/a' or sep_list[i][0] == ',': 
        city.append('other')
    else:
        city.append(sep_list[i][0].lower())
    
    #if the sep_list contains only city
    if(len(sep_list[i])<2):
        state.append('other')
        country.append('other')
    else:
        #removing invalid entries
        if sep_list[i][1] == ' ' or sep_list[i][1] == '' or sep_list[i][1]=='n/a' or sep_list[i][1] == ',':    
            state.append('other')      
        else:
            state.append(sep_list[i][1].lower())
        
        #if the sep_list contains only city and country
        if(len(sep_list[i])<3):
            country.append('other')
        else:
            #removing invalid entries
            if sep_list[i][2] == ''or sep_list[i][1] == ',' or sep_list[i][2] == ' ' or sep_list[i][2] == 'n/a':
                country.append('other')
            else:
                country.append(sep_list[i][2].lower())

#Removing location column       
users_df = users_df.drop('Location',axis=1)
temp = []

#handling cases in which entries are in the form city/stat
for ent in city:
    c = ent.split('/')            
    temp.append(c[0])

#Creating a dataframes for city, state and country
df_city = pd.DataFrame(temp,columns=['City'])
df_state = pd.DataFrame(state,columns=['State'])
df_country = pd.DataFrame(country,columns=['Country'])

#Concatinating these dataframes with users_df
users_df = pd.concat([users_df, df_city], axis=1)
users_df = pd.concat([users_df, df_state], axis=1)
users_df = pd.concat([users_df, df_country], axis=1)

In [28]:
#Checking for duplicates
print("Number of duplicates is:",len(users_df[users_df.duplicated()]))

Number of duplicates is: 0

In [29]:
#New users_df 
users_df.head()

   User-ID  Age         City            State         Country
0  1        32   nyc          new york         usa
1  2        18   stockton     california       usa
2  3        32   moscow       yukon territory  russia
3  4        17   porto        v.n.gaia         portugal
4  5        32   farnborough  hants            united kingdom

In [30]:
#Checking shape
print("Shape of users_df is:",users_df.shape)

Shape of users_df is: (278858, 5)

#Ratings

In [31]:
#First look
ratings_df.head()

   User-ID        ISBN  Book-Rating
0  276725   034545104X  0
1  276726   0155061224  5
2  276727   0446520802  0
3  276729   052165615X  3
4  276729   0521795028  6

In [32]:
#Basic info
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

###Since there are chances of presence of extra characters in ISBN in ratings dataset, we will remove these extra characters.

In [33]:
#Storing ISBN
bookISBN = books_df['ISBN'].tolist()
#Storing any character other than any combination of letters and digits case insensitive
reg = "[^A-Za-z0-9]" 

for index, row_Value in ratings_df.iterrows():
  #Searching for special characters in ratings_df.ISBN
    z = re.search(reg, row_Value['ISBN'])    
    
    if z:
      #Deleting special characters 
        f = re.sub(reg,"",row_Value['ISBN'])
        
        #Checking if the cleaned book id is in books_df or not
        if f in bookISBN:
          #If True we will replace the value with cleaned bookid.If false we will kepp it as itself.Because later while taking inner join it wont affect.
            ratings_df.at[index , 'ISBN'] = f

# Uppercasing all alphabets in ISBN
ratings_df['ISBN'] = ratings_df['ISBN'].str.upper()
# Drop duplicate rows

In [34]:
#Checking for duplicates
print("Number of duplicates is:",len(ratings_df[ratings_df.duplicated()]))
#Dropping duplicates
ratings_df.drop_duplicates(keep='last', inplace=True)
#Removing original index
ratings_df.reset_index(drop = True, inplace = True)

Number of duplicates is: 4

In [35]:
#Checking shape
print("Shape of ratings_df is:",ratings_df.shape)

Shape of ratings_df is: (1149776, 3)

#Merging

###Now we will combine these three pre-processed dataframes.

In [36]:
#Merging
combined_df = pd.merge(books_df, ratings_df, on='ISBN', how='inner')
combined_df = pd.merge(combined_df, users_df, on='User-ID', how='inner')

#Basic info
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017530 entries, 0 to 1017529
Data columns (total 11 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1017530 non-null  object
 1   Book-Title           1017530 non-null  object
 2   Book-Author          1017530 non-null  object
 3   Year-Of-Publication  1017530 non-null  int64
 4   Publisher            1017530 non-null  object
 5   User-ID              1017530 non-null  int64
 6   Book-Rating          1017530 non-null  int64
 7   Age                  1017530 non-null  int32
 8   City                 1017530 non-null  object
 9   State                1017530 non-null  object
 10  Country              1017530 non-null  object
dtypes: int32(1), int64(3), object(7)
memory usage: 89.3+ MB

In [37]:
#First look
combined_df.head()

         ISBN  ... Country
0  0195153448  ...  usa
1  0002005018  ...  canada
2  0060973129  ...  canada
3  0374157065  ...  canada
4  0393045218  ...  canada

[5 rows x 11 columns]

In [38]:
#Checking shape of the combined dataframe 
print("Shape of combined_df is:",combined_df.shape)

Shape of combined_df is: (1017530, 11)