<a href="https://colab.research.google.com/github/nivyathiruvoth/Book-Recommendation-System/blob/main/Python_Coding_Platform.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.check wether a number is perfect or not. Perfect number means it is equal to its divisors sum(except te number).

In [ ]:
def perfect_number(num):
  '''This function takes an inpt integer and check if it is a perfect number or not'''
  try:
    n=int(num)
    divisors=[]
    for i in range(1,n):
        if n%i==0:
            divisors.append(i)
    if n==sum(divisors):
        print('{} is a perfect number'.format(n))
    else:
        print("{} is not a perfect number".format(n))
  except:
    print("Wrong input type")
    print("Please give integer input")
    perfect_number(input())
    
perfect_number(input())

5
5 is not a perfect number

In [ ]:
perfect_number(6)
perfect_number(28)
perfect_number(88)
perfect_number(1256488)

6 is a perfect number
28 is a perfect number
88 is not a perfect number
1256488 is not a perfect number

#2.Print the reverse number

In [ ]:
num=input()

def reverse_int(num):
  '''This function takes integer as input and returns its reverse number'''
  try:
    reverse_num= int(num[::-1])
    return reverse_num
  except:
    print("Wrong input type")
  finally:
    print("Finished")
reverse_int(num)

456
Finished

654

In [ ]:
def reverse_int(num):
  '''This function takes integer as input and returns its reverse number'''
  try:
    reverse_num= int(num[::-1])
    return reverse_num
  except:
    print("Wrong input type")

reverse_int(num)

654

#3.Check whether a number is palindrom or not

In [ ]:
num = 5665
def check_palindrom(num):
  '''This function takes integer as input and check if it is a palindrom or not'''
  try:
    if num==int(str(num)[::-1]):
        print("True")
    else:
        print("False")
  except:
    print('wrong input')
    print("Please give integer input")
    check_palindrom(input())

check_palindrom(num)

True

In [ ]:
check_palindrom('abc')

wrong input
Please give integer input
898
False

#4.Write a program to input an integer N and print the sum of all its even digits and sum of all its odd digits separately.

In [ ]:
num=123456789
def odd_even_sum(num):
  '''This function take integer value as input and return sum of its odd and even integers separatly'''
  try:
    odd_sum=0
    even_sum=0
    for i in str(num):
        if int(i)%2==0:
            even_sum+=int(i)
        else:
            odd_sum+=int(i)
    print("even sum:",even_sum,"odd_sum:",odd_sum)
  except:
    print("Wrong input type, please enter an integer")
    odd_even_sum(int(input()))

odd_even_sum('abc')

Wrong input type, please enter an integer
12
even sum: 2 odd_sum: 1

#5.Remove given character from string

In [ ]:
string = 'AlmaBetter'
ch = "t"
def string_remover(string,ch):
    string =string.lower().replace(ch,' ')
    return string 

string_remover(string,ch)

'almabe  er'

#6.Write a python program to find the last position of a given substring.

In [ ]:
str1 ="Emma is a data scientist who knows Python. Emma works at google."
substr="Emma"

def last_str_finder(string ,substr):
    last_pos=string.rfind(substr)
    return last_pos

print('Last occurrence of {} starts at index {}'.format(substr,last_str_finder(str1,substr)))

Last occurrence of Emma starts at index 43

In [ ]:
str1.rfind(substr)

43

#7.Write a Python program to change the position of every nth value with the (n+1)th in a list.

In [ ]:
lst=eval('[1, 0, 3, 2, 5, 4]')

def pos_changer(lst):
  i=0
  while i<len(lst):
    x=lst[i]
    lst[i]=lst[i+1]
    lst[i+1]=x
    i+=2
  print(lst)

pos_changer(lst)

[0, 1, 2, 3, 4, 5]

In [ ]:
lst=eval('[1, 0, 3, 2, 5, 4]')
lst

[1, 0, 3, 2, 5, 4]

#8.Common ones out

In [ ]:
#color1 = eval(input())
#color2 = eval(input())

In [ ]:
color1=["Red", "Green", "Orange", "White"]
color2=["Black", "Green", "White", "Pink"]

def common_out(lst1,lst2):
  common=[]
  for i in color1:
    if i in color2:
      common.append(i)
  print(common)

common_out(color1,color2)

['Green', 'White']

#9.Difference between two lists

In [ ]:
#L1 = eval(input())
#L2 = eval(input())

In [ ]:
L1=["red", "orange", "green", "blue", "white"]

L2=["black", "yellow", "green", "blue"]

def list_difference(lst1,lst2):
  difference=[]
  for i in L1:
      if i not in L2:
          difference.append(i)
  for i in L2:
      if i not in L1:
          difference.append(i)
  print(difference)

list_difference(L1,L2)

['red', 'orange', 'white', 'black', 'yellow']

In [ ]:
L1=["red", "orange", "green", "blue", "white"]

L2=["black", "yellow", "green", "blue"]

def list_difference(lst1,lst2):
  L1_L2=[]
  for i in L1:
      if i not in L2:
          L1_L2.append(i)

  L2_L1=[]
  for i in L2:
      if i not in L1:
          L2_L1.append(i)
  
  print(sorted(L1_L2))
  print(L2_L1)

list_difference(L1,L2)
list_difference(L1,L2)

['orange', 'red', 'white']
['black', 'yellow']
['orange', 'red', 'white']
['black', 'yellow']

#10.Find Tuple with smallest index

In [ ]:
x= [(4, 1), (1, 2), (6, 0)]
index=0
for i,j in enumerate(x):
    if i==0:
        index=j[1]
        elem=j[0]
    else:
        if j[1]<index:
          index=j[1]
          elem=j[0]

print((elem,index))

(6, 0)

#11.string patter 1

In [ ]:
n=5

import string

alphabets= list(string.ascii_uppercase)
for i in range(0,n):
  print(alphabets[i]*(i+1))

A
BB
CCC
DDDD
EEEEE

In [ ]:
n=5
import string
alphabets=string.ascii_uppercase

for i in range(1,n+1):
    print(alphabets[i-1]*i)

A
BB
CCC
DDDD
EEEEE

##12.String pattern 2

In [2]:
n=5
import string
alphabets=string.ascii_uppercase
for i in range(n):
    x=alphabets[i:]
    print(x[:i+1])

A
BC
CDE
DEFG
EFGHI

##13.String pattern 3

In [3]:
alphabets= string.ascii_uppercase

for i in range(0,n+1): 
  print(alphabets[:i])
  alphabets=alphabets[i:]

A
BC
DEF
GHIJ
KLMNO